/* line 2, ../../_/components/sass/style.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: red; }

/* line 8, ../../_/components/sass/style.scss */
a {
  color: #00B7FF; }
