@import "compass/css3";
//===========================Variables===================
  //==================== Colors =======================
  $gray-darker:            lighten(#000, 13.5%); // #222
  $gray-dark:              lighten(#000, 20%);   // #333
  $gray:                   lighten(#000, 33.5%); // #555
  $gray-light:             lighten(#000, 46.7%); // #777
  $gray-lighter:           lighten(#000, 93.5%); // #eee
  $mediumorchid:           #cd31d6;
  $linen:                  #f5f3e5;
  $white:                  #ffffff;
  $mediumseagreen:          #43d789;
  $mediumaquamarine:       #43d789;

  $brand-primary:         #428bca;
  $brand-success:         #5cb85c;
  $brand-info:            #5bc0de;
  $brand-warning:         #f0ad4e;
  $brand-danger:          #d9534f;

   //** Background color for `<body>`.
  $body-bg:               $linen;
  //** Global text color on `<body>`.
  $text-color:            $white;

  //** Global textual link color.
  $link-color:            $brand-primary;
  //** Link hover color set via `darken()` function.
  $link-hover-color:      darken($link-color, 15%);
  //===========font size============================
  $base-font-size:          1.4rem;
  $base-font-family:        'Philosopher', sans-serif;

//=====================Styles=======================
.clear-wrap {
}

body {
  background: $body-bg;
}

.landing-page {
  margin-top: 10.25rem;

  min-height: 100px;
  min-width: 320px;
  color: $text-color;
}

.landing-page h3 {
    font-size: 3.25em;
    font-family: $base-font-family;
    font-weight: lighter;
    text-align: center;
    color: $mediumorchid;
}

.landing-page input{
    @include border-radius(40px, 40px);
    margin: 40px auto 10px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);

}

.landing-page ul {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-weight: lighter;
    text-transform: lowercase;
  }

.landing-page ul {
    font-size: 1.3em;
  }
.landing-page li {
    margin: 2px;
    background-color: $mediumseagreen;
    border: 1.45px solid $mediumaquamarine;
  }
.landing-page ul li a {
    color: $white;
}
.landing-page li:hover {
  background-color: darken($mediumaquamarine, 13.5%);
  border: 1.45px solid $mediumseagreen;
}
