extends layout

block content
  .general.wrap
    header#header-region.row
    #player-region
    content#main-region.row
    <!--hr.featurette-divider-->
    footer#footer-region.row
  #dialog-region
