doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/jquery-ui-1.10.4.custom.css')
    link(href='http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
  body
    div
    block content
    script(src='http://localhost:35729/livereload.js')
    script(data-main='js/require-main.js', src='js/vendor/require.js')