doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/jquery-ui-1.10.3.custom.css')
  body
    div
    block content
    script(src='http://localhost:35729/livereload.js')
    script(data-main='js/require-main.js', src='js/vendor/require.js')